.landingPage {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

.backgroundMedia {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2; 
}

.videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.2); */
  z-index: -1; /* Ensure it is behind the content but above the video */
}

button {
  padding: 10px 20px;
  background-color: #ffffff00;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border: solid 1px;
}

.scrollBarContainer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 23%;  /* Reduce the width of the entire track */
  height: 10px;  /* Slightly reduce the height */
  background-color: rgba(129, 129, 129, 0.277);  /* Soft dark background for contrast */
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);  /* Soft shadow for depth */
  z-index: 1;
}

.scrollBar {
  position: absolute;
  height: 100%;  /* Full height to match the container */
  background: rgba(255, 255, 255, 0.709);  /* Subtle gradient for the moving bar */
  border-radius: 10px;
  width: 20%;  /* Increase the width of the moving bar */
  transition: left 0.3s ease-in-out;  /* Smooth transition */
  left: 0%;  /* Start position at the far left */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);  /* Soft shadow for the moving bar */
  cursor: grab;  /* Change cursor to indicate draggable area */
}

.scrollBar:active {
  cursor: grabbing;  /* Change cursor to indicate dragging */
  background: linear-gradient(90deg, #ddd, #bbb);  /* Slightly darker when active */
}
