.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.dropdownToggle {
  border: none;
}
.dropdownToggle img {
  height: 23px;
  margin-right: 10px;
  margin-top: -10px;
  cursor: pointer;
}

.menu {
  background: #fff;
  border-radius: 8px;
  position: absolute;
  top: 34px;
  width: 100px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  padding: 5px;
}

.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu button {
  background: none;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.menu button:hover {
  background-color: #e6e6e6;
}
