.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.134);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  padding: 0 20px;
  z-index: 1000;
}

.navbar img {
  height: 30px;
}

.links {
  margin-left: 55px;
  display: flex;
  gap: 40px;
}

.links a {
  text-decoration: none;
  color: #333;
  margin: 0 70px -20px 0;
  font-size: 40px;
  font-family: HappinessM;
}

.icons {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-top: 20px;
  gap: 10px;
}

.icons a {
  font-family: HappinessM;
  font-size: 25px;
  cursor: pointer;
}

.icons img {
  height: 25px;
  width: auto; /* 이미지를 일정한 높이로 유지하기 위해 width를 auto로 설정 */
  object-fit: contain; /* 이미지가 비율에 맞게 조정되도록 설정 */
  margin-right: 30px;
  margin-left: -10px;
  cursor: pointer;
}

.icons .loginIcon {
  height: 25px; /* 로그인 아이콘의 크기를 줄임 */
  width: auto; /* 로그인 아이콘의 가로 크기를 줄임 */
  object-fit: contain; /* 이미지가 비율에 맞게 조정되도록 설정 */
}

.icons .loginIconKo {
  height: 25px;
  width: 38px; /* 한국어 로그인 아이콘의 가로 크기를 줄임 */
  object-fit: contain;
  margin-bottom: 7px;
}

.icons .myIcon {
  height: 25px;
  width: auto;
  object-fit: contain;
  margin-right: 30px;
  margin-left: -10px;
  cursor: pointer;
  position: relative;
  top: -5px; /* 마이페이지 아이콘을 위로 올림 */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* 반응형 */
@media (max-width: 768px) {
  .navbar {
    height: 40px;
  }

  .logo img {
    height: 20px;
  }

  .links {
    margin-left: 10px;
    gap: 10px;
  }

  .links a {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .navbar {
    height: 40px;
  }

  .logo img {
    height: 20px;
  }

  .links {
    margin-left: 10px;
    gap: 10px;
  }
  
  .links a {
    font-size: 10px;
  }
}
