.messagebox {
  margin: 20px;
  border-radius: 10px;
  border: 3.5px solid #000;
  opacity: 0.8;
  background: #F5E8D7;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-shadow: 3px 2px 0px 0px rgba(0, 0, 0, 0.50);
}

.letterContainer {
  position: absolute;
  top: 3px;
  left: 10px;
}

.letterimg {
  width: 30px;
  height: 35px;
}

.messageimgbottom {
  position: absoulute;
  top: 0px;
  width: 100%;
  height: auto;
}
