.letterbox {
  border-radius: 10px;
  border: 2px solid #000;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lee", Helvetica;
  font-size: 30px;
  padding: 10px;

}

.letterbox p {
  margin: 5px 0
}

.accept{
  border-radius: 5px;
  border: 2px solid #000;
  background: #163665;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-family: "Lee", Helvetica;
  padding: 5px;
  width: 80px;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
}

.deny {
  border-radius: 5px;
  border: 2px solid #000;
  background: #E22829;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-family: "Lee", Helvetica;
  padding: 5px;
  width: 80px;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
}