.modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* 반투명 배경 */
    z-index: 1000; /* 모달이 다른 콘텐츠 위에 오도록 설정 */
  }
  
.modal-content {
    background: #fff;
    top: 80px;
    left: 50%; /* 너비의 절반만큼 왼쪽으로 이동하여 중앙 정렬 */
    transform: translateX(-50%);
    padding: 30px;
    width: 70%; /* 너비 설정 */
    height: 70%; /* 높이 설정 */
    border-radius: 8px;
    /* text-align: center; */
    position: relative;
}

.modal-title {
    position: relative;
    color: black;
    font-size: 80px;
    width: 100%;
    height: 15%;
    left: 30px;
    margin: 0;
    font-family: 'HappinessM';
}

.modal-ps{
    display: flex; /* 내부 요소를 정렬하기 위한 flexbox 사용 */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: space-between; /*가로 중앙 정렬*/
    height: 80%;
}

.modal-image-box{
    position: relative;
    top: 10px;
    left: 30px;
    background: black;
    width: 30%;
    height: 90%;
    display: flex; /* 내부 요소를 정렬하기 위한 flexbox 사용 */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
    border-radius: 5px;
}

.modal-image{
    width: 90%;
    height: 90%;
}

.modal-desc{
    width: 50%;
    height: 90%;
    margin-right: 80px;
}

.modal-ps-description{
    position: relative;
    font-size: 35px;
    font-family: 'HappinessM';
    height: 80%;


}

.modal-btn {
    display: flex;
    justify-content: end; 
}

.modal-btn button {
    width: 140px;
    height: 50px;
    background-color: #163665; /* 버튼 배경 색상 */
    color: white; /* 버튼 텍스트 색상 */
    font-family: 'HappinessM';
    font-size: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;


}
  
.modal-close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 20px;
    color: grey;
    border: none;
    padding: 10px;
    cursor: pointer;
}