.poomsae-test-page {
    position: relative; /* ::before 가상 요소를 위한 상대 위치 설정 */
    width: 100%;
    height: 100vh; /* 페이지 전체 높이 */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
.poomsae-test-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('src/assets/images/poomsaeTestPage/psTest_bg.png'); /* public 폴더 기준 경로 */
    background-size: cover; /* 이미지를 컨테이너에 맞게 조정 */
    background-position: center; /* 이미지 중앙으로 위치 */
    background-repeat: no-repeat; /* 이미지를 반복하지 않도록 설정 */
    opacity: 0.8; /* 투명도 설정 (0.0 - 1.0) */
    z-index: -1; /* 배경 이미지가 콘텐츠 뒤에 오도록 설정 */
}

.belt-box {
    position: absolute; /* 절대 위치 설정 */
    top: 80px; /* 상단에서 50px 떨어진 위치 */
    left: 50%; /* 너비의 절반만큼 왼쪽으로 이동하여 중앙 정렬 */
    transform: translateX(-50%);
    width: 1400px; /* 너비 설정 */
    height: 104px; /* 높이 설정 */
    display: flex; /* 내부 요소를 정렬하기 위한 flexbox 사용 */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: space-between; /* 가로 중앙 정렬 */
}

