.poomsae-test-detail-page {
    position: relative; /* ::before 가상 요소를 위한 상대 위치 설정 */
    width: 100%;
    height: 100vh; /* 페이지 전체 높이 */
    padding: 30px 30px;
  }
  
.poomsae-test-detail-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('src/assets/images/poomsaeTestPage/psTestDetail_bg.png'); /* public 폴더 기준 경로 */
    background-size: cover; /* 이미지를 컨테이너에 맞게 조정 */
    background-position: center; /* 이미지 중앙으로 위치 */
    background-repeat: no-repeat; /* 이미지를 반복하지 않도록 설정 */
    opacity: 0.8; /* 투명도 설정 (0.0 - 1.0) */
    z-index: -1; /* 배경 이미지가 콘텐츠 뒤에 오도록 설정 */
}

.detail-title p {
    margin: 0;
    font-size: 20px;
    font-family: 'HappinessM';
    color: white;

}

.detail-content {
    width: 1500px;
    height: 900px;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}