.detailModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow: hidden; 
}

.modalWrapper {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  width: 85vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden; 
}

.modalContent {
  display: flex;
  flex-direction: row;

  flex: 1;
  overflow: hidden; /* 모달 콘텐츠 내부에 스크롤이 생기지 않게 */
}

.modalFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 93%;
  position: absolute;
  bottom: -2%; /* 모달 하단에서 조금 떨어지게 */
  margin-left: 2%;
}

.line {
  flex: 1;
  height: 2px;
  background-color: black;
  margin-bottom: 1.2%;
  
}

.completeAllButton {
  cursor: pointer;
  border: none;
  font-family: 'HappinessM';
  font-size: 45px;
  color: black;
  border-radius: 5px;
  
}
.completeButton {
  position: absolute;
  top: 1.4%;
  right: 5%;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: black;
}
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.sectionLeft {
  flex: 1;
  padding: 2.5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.5%;
  overflow: hidden; 
}

.sectionRight {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}

.psInfo {
  overflow-y: auto; /* 스크롤 추가 */
  flex: 1; /* 남은 공간을 모두 차지 */
  margin: 2.2% 1.5% 1%; 
  text-align: left;
}

.modalContent button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  color: black;
  border-radius: 5px;
}

.modalContent button:first-of-type {
  background-color: #c8c8eb75;
}

.thumbnailImage {
  width: 100%;
  max-height: 370px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.4);
}

.videoThumbnail {
  width: 100%;
  max-height: 370px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  width: 15%;
}

.poomsaeName {
  font-family: 'HappinessM';
  font-size: 50px;
  margin: -3% 0 -0.5%;
}

.mvItems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 85%;
  height: 70%;
  gap: 0% 5%;
}

.sectionRight button {
  margin: 10px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #ddd;
  border: none;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.sectionRight button:hover {
  background-color: #ccc;
}