.poomsaeEduAllPage {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-image: url('/src/assets/images/poomsaeEduPage/bgc.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.allEduContainer {
  flex-direction: column;
  width: 87vw;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.90);
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.35);
}

.allEduContent {
  width: 93%;
  height: 65%;
  display: flex;
}

.mvGif {
  width: 35%;
  height: 100%;
  border-radius: 15px;
  background: lightblue 50%;
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* 이미지가 영역을 벗어나지 않도록 설정 */
}

.mvGifImage {
  width: auto;
  height: 100%;
  object-fit: contain; /* 이미지 비율을 유지하며 크기에 맞추기 */
}

.userCam {
  margin: 0 0 0 4%;
  width: 50%;
  height: 100%;
  background: lightgray 50%;
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.35);
}

.progress {
  width: 15%;
  height: 100%;
  margin: 0 -2% 0 2%;
}

.mvDescription {
  width: 93%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.mvPsDes {
  max-height: 100%;
  overflow-y: auto;
  flex: 1;
  text-align: left;
  margin: 0;
  box-sizing: border-box;
  font-size: 17px;
}

.allEduFooter {
  width: 94%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1%;
  margin-left: 1%;
}

.mvDescription img {
  width: 3%;
  height: auto;
  aspect-ratio: 1 / 1;
}

.mvPsName {
  margin: 0 2% 0 0;
}

.exitButton {
  cursor: pointer;
  border: none;
  font-family: 'HappinessM';
  font-size: 43px;
  color: black;
  border-radius: 5px;
  margin-top: -1%;
}

