.characterfacebox {
  border-radius: 10px;
  border: 3px solid #000;
  background: #FFF;
  z-index: 9998;
  position: absolute;
  width: 21%;
  height: 23%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.characterfacebox img {
  width: 65%;
  position: absolute;
  left: 10%
}