.webcambox {
  box-sizing: border-box;
  width: 23%;
  height: 55%;
  border-radius: 10px;
  border: 3px solid #000;
  background: #D9D9D9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 9999;
  position: absolute;
  display: flex;
  justify-content: center;
}

.camtop {
  width: 101.9%;
  position: absolute;
  top: -8%;  
}

.cam {
  position: absolute;
  top: 17%;
  width: 90%;
  height: 79%;
  border-radius: 10px;
  border: 3px solid #000;
  background: #D9D9D9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.camvideo {
  height: 100%;
  width: 150%;
  object-fit: contain; 
  position: relative;
  z-index: 1; /* video 요소의 z-index를 낮게 설정 */
}

.camoverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; /* canvas가 video 위에 오도록 z-index 설정 */
  pointer-events: none; /* 사용자 입력이 비디오에 전달되도록 설정 */
}
