.roominfobox {
  border-radius: 10px;
  border: 4px solid #000;
  background: #FFF;
  width: 39%;
  height: 79%;
  position: absolute;
  right: 16%;
  top: 13%
}

.roominfobox img {
  width: 100%;
  height: 100%
}

.roominfobox button {
  border: 3px solid #464145;
  background: #D9D9D9;
  box-shadow: 4px 4px 4px 0px #282831;
  width: 24%;
  height: 35%;
  flex-shrink: 0;
  position: absolute;
  top: 4.5%;
  left: 37%;
}

.flag {
  border: 2px solid black;
  background: #D9D9D9;
  box-shadow: 4px 4px 4px 0px #282831;
  width: 31%;
  height: 22%;
  position: absolute;
  top: 4.5%;
  left: 62.5%;
}

.flag img {
  width: 100%;
  height: 100%;
}