.updatepage {
  border-radius: 10px;
  border: 4px solid #000;
  background: #FFF;
  width: 67.5%;
  height: 79%;
  position: absolute;
  left: 16%;
  bottom: 7%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.updateclosebutton {
  position: absolute;
  top: 1%;
  right: 0%;
  font-size: 20px;
  cursor: pointer;
  color: black;
  border: 0px
}

.input-container {
  display: flex;
  align-items: center;
  width: 67%;
  margin: 10px;
}

.input-label {
  margin-right: 10px;
  font-family: 'Lee';
  font-size: 40px;
  width: 25%;
  margin: 0px
}

.input-wrapper {
  position: relative;
  width: 85%
}

.input-field {
  width: 100%;
  padding: 8px 8px 8px 8px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #000;
  background: #FFF;
  
}

.clear-btn {
  position: absolute;
  right: -8px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #aaa;
}

.clear-btn:hover {
  color: #000;
}

.submit-btn {
  margin-left: 10px;
  width: 15%;
  border-radius: 10px;
  border: 3px solid #F9E225;
  background: #F9E225;
  font-family: 'Lee';
  font-size: 20px;
  color: black;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #ffd700;
}

.character-selection-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 67%;
}

.character-label {
  font-size: 18px;
  margin-right: 10px;
  font-family: 'Lee';
  font-size: 40px;
  text-align: left;
  width: 66%
}

.character-options {
  display: flex;
  align-items: center;
  justify-self: center;
  margin: 0px;
}

.character-option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-image {
  width: 70%;
}

input[type="radio"] {
  margin-top: 10px;
  cursor: pointer;
  accent-color: red; /* Set the accent color for the radio button */
}

.nationcontainer {
  width: 67%;
  display: flex;
  margin: 10px;
}

.nationlabel {
  font-family: 'Lee';
  font-size: 40px;
  width: 25%;
}

.nationselect {
  width: 75%;
  padding: 8px 32px 8px 8px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #000;
  background: #FFF;
  margin-left: 5px;
  margin-bottom:
}

.updatesavebutton {
  border-radius: 10px;
  border: 3px solid #000;
  background: #163665;
  position: absolute;
  bottom: 5%;
  right: 2%;
  font-family: 'Lee';
  font-size: 20px;
  width: 10%;
  padding: 4px
}

.userdeletebutton {
  position: absolute;
  color: red;
  border: none;
  bottom: 8%;
  left: 15%;
  font-family: 'Lee';
}