.menuItem {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: space-between; 
  height: 290px;
  max-width: 200px;
  width: 22%;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(43, 43, 43, 0.7); 
  box-shadow: 10px 10px 5px rgb(0, 0, 0, 0.4);
  text-align: center;
  transition: height 0.2s ease;
  overflow: hidden; 
  /* 내부 요소가 넘치지 않도록 */
  position: relative; /* 상대 위치 설정 */
}

/* 버튼 숨김 상태 */
.menuItem button {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.menuItem:hover {
  height: 330px;
}

.menuItem:hover button {
  opacity: 1; /* 호버 시 버튼 보이기 */
}

.menuItem h2 {
  color: white;
  font-size: 20px;
  margin: 0 0px -20px 0;
  font-family: 'HappinessM';
  font-size: 50px;
}

.menuItem hr {
  width: 90%; 
  border: 0.3px solid white; 
  margin: 10px 0; 
}

.menuItem img {
  max-width: 73%; 
  height: auto;
  border-radius: 8px;
  margin: 20px 0;
  flex-grow: 1; 
  object-fit: contain;
  display: flex;
  align-items: center;
}

.menuItem button {
  width: 50%;
  height: auto;
  aspect-ratio: 2.6 / 1;
  background: url('/src/assets/images/mainPage/start.png') no-repeat center center;
  background-size: contain;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  text-indent: -9999px;
  overflow: hidden;
  display: block;
  padding: 0;
}

/* 반응형 */

@media (max-width: 800px) {
  .menuItem {
    width: 20%;
    max-width: none;
    margin: 10px auto;
    height: 270px
  }

  .menuItem:hover {
    height: 300px;
  }

  .menuItem h2 {
    margin: 0 0px -15px 0;
    font-size: 30px;
  }
}

@media (max-width: 500px) {

  .menuItem {
    width: 20%;
    max-width: none;
    margin: 10px auto;
    height: 200px
  }
  
  .menuItem:hover {
    height: 200px;
  }

  .menuItem h2 {
    font-size: 20px;
    margin: 0 0px -10px 0;
  }
}