.sparingPage {
  background-image: url('/src/assets/images/sparingPage/background-layer.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
}

.leftSection {
  display: flex;
  flex-direction: column;
  width: 33.33%;
}

.leftSection > div:first-child {
  flex: 1;
}

.leftSection > div:last-child {
  flex: 2;
}

.centerSection {
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightSection {
  display: flex;
  flex-direction: column;
  width: 33.33%;
}

.rightSection > div:first-child {
  flex: 3;
}

.rightSection > div:last-child {
  flex: 1;
}